/* Breakpoints */

// Small screen
$xxs: 360px;

// Landscape phone and down
$xs: 480px;

// Small
$sm: 575px;

// Landscape phone to portrait tablet
$md: 768px;

// Landscape tablet and desktop
$lg: 1024px;

// Large desktop
$xl: 1280px;

// Large
$xxl: 1440px;

